html{
    background: #000000;
}

#body{
    background: #000000;
}

#body page{
    background:#000000;
}

#header {
    background: #000000;
    margin: 0;
    min-height: 60px;
    padding: 0;
    width: auto;
}

#header div {
        margin: 0 auto;
        max-width: 940px;
        min-height: 60px;
        padding: 0 10px;
    }
#header div {
    margin: 0 auto;
    max-width: 940px;
    min-height: 60px;
    padding: 0 10px;
}

    #header div a.logo {
        display: block;
        float: left;
        height: 60px;
        margin: 0 44px 0 0;
        padding: 0;
        width: 304px;
    }

    #header div a img {
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
    }

    #header div ul {
        display: inline-block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
    }

#header div ul li {
            float: left;
            margin: 0;
            padding: 0;
            width: auto;
        }

#header div ul li a {
                color: #ffffff;
                display: block;
                font-family: Arial;
                font-size: 18px;
                font-weight: normal;
                line-height: 59px;
                margin: 0;
                min-height: 60px;
                padding: 0 24px;
                *padding: 0 23px; /* Needed for IE8 and old versions */
                text-align: center;
                text-transform: uppercase;
                width: auto;
            }

#header div ul li a:hover {
                    background-color: #620031;
                    color: #ffffff;
                }

#header div ul li.selected a {
                background-color: #000000;
                color: #a3a3a3;
            }
    #header div ul li.menu {
        position: relative;
    }

        #header div ul li.menu ul {
            display: block;
            left: -99999px;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 60px;
            width: 142px;
            z-index: 50;
        }

        #header div ul li.menu:hover ul.primary {
            left: 31px;
        }

        #header div ul li.menu ul.primary.selected {
            left: 31px;
        }

        #header div ul li.menu:hover ul.secondary {
            left: -20px;
        }

        #header div ul li.menu ul.secondary.selected {
            left: -20px;
        }

        #header div ul li.menu ul li {
            margin: 0;
            padding: 0;
            width: auto;
        }

            #header div ul li.menu ul li a {
                background-color: #620031;
                color: #ffffff;
                display: block;
                font-family: Arial;
                font-size: 18px;
                font-weight: normal;
                line-height: 60px;
                margin: 0;
                min-height: 60px;
                padding: 0 10px;
                text-align: center;
                text-transform: uppercase;
                width: auto;
            }

        #header div ul li.menu ul.primary.selected li a, #header div ul li.menu ul.secondary.selected li a {
            background-color: #000000;
            color: #a3a3a3;
        }
#contactPage {
    text-align:center;
    font-size:large;
    color:#ffffff;
}